autoconf
automake
binutils
bison
boost
clang
cmake
cppcheck
fakeroot
flex
gawk
gcc
gdb
gettext
git
git-lfs
grep
groff
gtest
gzip
lcov
libpqxx
libtool
lsb-release
m4
make
manjaro-release
nlohmann-json
pacman
patch
pkgconf
python-cpplint
python-pip
qt6-5compat
sed
sudo
systemd
texinfo
valgrind
which

